/build/wrapper_table.json
/build/doc_env/
/doc/cpp/
/doc/java/
/doc/python/
/lib/
/share/
/src/java/target/
/src/python/dxpy/toolkit_version.py
/src/dx-wig-to-wiggle/build
*~
*.log
*.swp
*.pid
*.pyc
*.a
.DS_Store
.coverage
/bin/contigset2fasta
/bin/dx
/bin/dx-app-wizard
/bin/dx-bed-to-spans
/bin/dx-build-app
/bin/dx-build-applet
/bin/dx-contigset-to-fasta
/bin/dx-csv-to-gtable
/bin/dx-fastq-to-reads
/bin/dx-genes-to-gff
/bin/dx-genes-to-gtf
/bin/dx-get-job-streams
/bin/dx-gff-to-genes
/bin/dx-gtable-to-csv
/bin/dx-gtable-to-tsv
/bin/dx-gtf-to-genes
/bin/dx-jobutil-*
/bin/dx-log-stream
/bin/dx-mappings-to-fastq
/bin/dx-mappings-to-sam
/bin/dx-reads-to-fastq
/bin/dx-reads-validator
/bin/dx-spans-to-bed
/bin/dx-tsv-to-gtable
/bin/dx-variants-to-vcf
/bin/dx-verify-file
/bin/dx-workflow-to-applet
/bin/dx-wig-to-wiggle
