/build/wrapper_table.json
/build/doc_env/
/doc/cpp/
/doc/java/
/doc/python/
/lib/
/src/java/target/
*~
*.log
*.swp
*.pid
*.pyc
*.a
.DS_Store
.coverage
/bin/dx-build-app
/bin/dx-build-applet
/bin/dx-csv-to-gtable
/bin/dx-gtable-to-csv
/bin/dx-gtable-to-tsv
/bin/dx-mappings-to-fastq
/bin/dx-mappings-to-sam
/bin/dx-reads-to-fastq
/bin/dx-tsv-to-gtable
/bin/dx-workflow-to-applet
/bin/pyrsa-*
/bin/contigset2fasta
/bin/dx-reads-validator
