/build/wheels/
/build/info/version
/build/wrapper_table.json
/build/doc_env/
/build/py27_env/
/doc/cpp/
/doc/java/
/doc/ruby/
/doc/python/
/lib/
/share/
/src/.setup_doc_virtualenv
/src/java/target/
/src/java/src/main/java/com/dnanexus/DXToolkitVersion.java
/src/perl/DNAnexus-*
/src/python/dxpy/toolkit_version.py
/src/python/coverage-reports/
/src/ruby/lib/dxruby/version.rb
/src/dx-wig-to-wiggle/build
/src/R/install_dxR_deps.Rout
/src/R/dxR*.tar.gz
/src/R/roxygen2_*
/src/ruby/*.gem
/src/ruby/.yardoc

/src/openssl*.tar.gz
/src/openssl
/src/boost*.tar.bz2
/src/boost
/src/file*.tar.gz
/src/file
/src/curl*.tar.gz
/src/curl
/src/c-ares*.tar.gz
/src/c-ares

dxR.Rcheck
*~
*.log
*.swp
*.pid
*.pyc
*.a
*.o
.DS_Store
/bin/dx
/bin/dx-app-wizard
/bin/dx-bed-to-spans
/bin/dx-build-app
/bin/dx-build-applet
/bin/dx-build-report-html
/bin/dx-contigset-to-fasta
/bin/dx-csv-to-gtable
/bin/dx-fastq-to-reads
/bin/dx-fetch-bundled-depends
/bin/dx-genes-to-gff
/bin/dx-genes-to-gtf
/bin/dx-get-job-streams
/bin/dx-gff-to-genes
/bin/dx-gtable-to-csv
/bin/dx-gtable-to-tsv
/bin/dx-gtf-to-genes
/bin/dx-jobutil-*
/bin/dx-log-stream
/bin/dx-mappings-to-fastq
/bin/dx-mappings-to-sam
/bin/dx-mount
/bin/dx-reads-to-fastq
/bin/dx-reads-validator
/bin/dx-run-app-locally
/bin/dx-spans-to-bed
/bin/dx-tsv-to-gtable
/bin/dx-variants-to-vcf
/bin/dx-verify-file
/bin/dx-workflow-to-applet
/bin/dx-wig-to-wiggle
/bin/dx-print-bash-vars
/bin/activate-global-python-argcomplete
/bin/python-argcomplete-check-easy-install-script
/bin/register-python-argcomplete
/bin/jq
/bin/ua
/bin/dx-download-all-inputs
/bin/dx-download-input
/bin/dx-upload-all-outputs
/src/ua/dist/ua
/src/ua/dnanexus-upload-agent-*-linux.tar.gz
/src/ua/dnanexus-upload-agent-*-linux
/src/ua/ua
test-job-workspaces
/.arcconfig
.idea/
