export(analysisAddTags)
export(analysisDescribe)
export(analysisRemoveTags)
export(analysisSetProperties)
export(analysisTerminate)
export(appAddAuthorizedUsers)
export(appAddCategories)
export(appAddDevelopers)
export(appAddTags)
export(appDelete)
export(appDescribe)
export(appGet)
export(appInstall)
export(appletAddTags)
export(appletDescribe)
export(appletGet)
export(appletGetDetails)
export(appletListProjects)
export(appletNew)
export(appletRemoveTags)
export(appletRename)
export(appletRun)
export(appletSetProperties)
export(appListAuthorizedUsers)
export(appListCategories)
export(appListDevelopers)
export(appNew)
export(appPublish)
export(appRemoveAuthorizedUsers)
export(appRemoveCategories)
export(appRemoveDevelopers)
export(appRemoveTags)
export(appRun)
export(appUninstall)
export(appUpdate)
exportClasses(DXGTable)
export(colDesc)
export(containerClone)
export(containerDescribe)
export(containerDestroy)
export(containerListFolder)
export(containerMove)
export(containerNewFolder)
export(containerRemoveFolder)
export(containerRemoveObjects)
export(containerRenameFolder)
export("desc<-")
export(DXGTable)
export(dxHTTPRequest)
export(fileAddTags)
export(fileAddTypes)
export(fileClose)
export(fileDescribe)
export(fileDownload)
export(fileGetDetails)
export(fileListProjects)
export(fileNew)
export(fileRemoveTags)
export(fileRemoveTypes)
export(fileRename)
export(fileSetDetails)
export(fileSetProperties)
export(fileSetVisibility)
export(fileUpload)
export(genomicRangeIndex)
export(genomicRangeQuery)
export(gtableAddRows)
export(gtableAddTags)
export(gtableAddTypes)
export(gtableClose)
export(gtableDescribe)
export(gtableGet)
export(gtableGetDetails)
export(gtableListProjects)
export(gtableNew)
export(gtableNextPart)
export(gtableRemoveTags)
export(gtableRemoveTypes)
export(gtableRename)
export(gtableSetDetails)
export(gtableSetProperties)
export(gtableSetVisibility)
export(jobAddTags)
export(jobDescribe)
export(jobGetLog)
export(jobNew)
export(jobRemoveTags)
export(jobSetProperties)
export(jobTerminate)
export(lexicographicIndex)
export(lexicographicIndexColumn)
export(lexicographicQuery)
export(loadFromEnvironment)
exportMethods(addRow)
exportMethods(addRows)
exportMethods(closeObj)
exportMethods(desc)
exportMethods(describe)
exportMethods(dim)
exportMethods(flushRows)
exportMethods(getRows)
exportMethods(head)
exportMethods(id)
exportMethods(names)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(tail)
export(newDXGTable)
export(notificationsGet)
export(notificationsMarkRead)
export(printenv)
export(projectAddTags)
export(projectClone)
export(projectDecreasePermissions)
export(projectDescribe)
export(projectDestroy)
export(projectInvite)
export(projectLeave)
export(projectListFolder)
export(projectMove)
export(projectNew)
export(projectNewFolder)
export(projectRemoveFolder)
export(projectRemoveObjects)
export(projectRemoveTags)
export(projectRenameFolder)
export(projectSetProperties)
export(projectTransfer)
export(projectUpdate)
export(projectUpdateSponsorship)
export(recordAddTags)
export(recordAddTypes)
export(recordClose)
export(recordDescribe)
export(recordGetDetails)
export(recordListProjects)
export(recordNew)
export(recordRemoveTags)
export(recordRemoveTypes)
export(recordRename)
export(recordSetDetails)
export(recordSetProperties)
export(recordSetVisibility)
export(systemFindAffiliates)
export(systemFindAnalyses)
export(systemFindApps)
export(systemFindDataObjects)
export(systemFindExecutions)
export(systemFindJobs)
export(systemFindProjectMembers)
export(systemFindProjects)
export(systemFindUsers)
export(systemGlobalSearch)
export(systemGreet)
export(systemShortenURL)
export(systemWhoami)
export(userDescribe)
export(userUpdate)
export(workflowAddStage)
export(workflowAddTags)
export(workflowAddTypes)
export(workflowClose)
export(workflowDescribe)
export(workflowDryRun)
export(workflowGetDetails)
export(workflowIsStageCompatible)
export(workflowListProjects)
export(workflowMoveStage)
export(workflowNew)
export(workflowOverwrite)
export(workflowRemoveStage)
export(workflowRemoveTags)
export(workflowRemoveTypes)
export(workflowRename)
export(workflowRun)
export(workflowSetDetails)
export(workflowSetProperties)
export(workflowSetStageInputs)
export(workflowSetVisibility)
export(workflowUpdate)
export(workflowUpdateStageExecutable)
import(methods)
import(RCurl)
import(RJSONIO)
