Source: dx-toolkit
Maintainer: support@dnanexus.com
Section: science
Priority: optional
Standards-Version: 3.9.3
Build-Depends: openjdk-7-jdk | openjdk-8-jdk-headless | openjdk-11-jdk-headless | openjdk-8-jdk, maven2 | maven

Package: dx-java-bindings
Architecture: any
Depends: ${misc:Depends}, openjdk-7-jre-headless | openjdk-8-jre-headless | openjdk-11-jre-headless
Description: Java bindings to DNAnexus Platform
 Bindings for interacting with the DNAnexus platform from Java.
