Source: dx-toolkit
Maintainer: Phil Sung <psung@dnanexus.com>
Section: science
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8), python-virtualenv, libboost1.55-all-dev | libboost1.54-all-dev | libboost1.48-all-dev, r-base-core, libdist-zilla-perl, openjdk-6-jdk | openjdk-7-jdk, maven2

Package: dx-toolkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Conflicts: jq, python-argcomplete
Description: DNAnexus client libraries and tools
 Bindings for interacting with the DNAnexus platform and common tools for
 developer use (inside or outside of the DNAnexus execution environment).

Package: dx-toolkit-beta
Architecture: any
Depends: ${misc:Depends}, dx-toolkit (= ${binary:Version})
Description: Transitional package for DNAnexus client tools
 This is a dummy package that loads vanilla dx-toolkit.

Package: dx-toolkit-unstable
Architecture: any
Depends: ${misc:Depends}, dx-toolkit (= ${binary:Version})
Description: Transitional package for DNAnexus client tools
 This is a dummy package that loads vanilla dx-toolkit.

Package: dx-java-bindings
Architecture: any
Depends: ${misc:Depends}, openjdk-6-jre-headless | openjdk-7-jre-headless, dx-toolkit
Description: Java bindings to DNAnexus Platform
 Bindings for interacting with the DNAnexus platform from Java.

Package: dx-perl-bindings
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, perl, dx-toolkit
Description: Perl bindings to DNAnexus Platform
 Bindings for interacting with the DNAnexus platform from Perl.

Package: dx-ruby-bindings
Architecture: any
Depends: ${misc:Depends}, ruby1.9.1, dx-toolkit, ruby-json
Description: Ruby bindings to DNAnexus Platform
 Bindings for interacting with the DNAnexus platform from Ruby.
